/* roboto-300 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/roboto-v30-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* roboto-regular - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v30-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* roboto-500 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/roboto-v30-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* roboto-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/roboto-v30-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* roboto-900 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/roboto-v30-latin-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* roboto-900italic - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 900;
    src: url('../fonts/roboto-v30-latin-900italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style-type: none;
}

.container {
    width: 1141px;
    margin-left: auto;
    margin-right: auto;
}

/* header  */
.header {
    display: flex;
    align-items: center;
    height: 77px;
    background: linear-gradient(269.91deg, rgba(46, 49, 146, 0.7) 0%, rgba(212, 20, 90, 0.7) 98.16%);
}

.header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-box {
    justify-content: center;
    display: flex;
    align-items: center;
}

.header-tel-link {
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: 500;
    line-height: 10px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFF;
}

.header-tel-text {
    margin-left: 15px;
}

.header-img {
    margin-right: 10px;
}

.header-text {
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFF;
}

/* hero  */
.hero {
    height: 851px;
    background-image: url(../img/backraund.png);
    background-repeat: no-repeat;
    background-position: calc(50% + 35px) calc(50% - 20px);
}

.hero-inner {
    padding-top: 53px;
    padding-bottom: 51px;
}

.hero-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hero-list {
    display: flex;
    margin-top: -30px;
    margin-left: 800px;
}
.hero-box:nth-child(1) {
    left: 0;
}
.hero-logo-text {
    margin-left: 10px;
    font-family: Roboto;
    font-size: 36px;
    font-style: italic;
    font-weight: 900;
    line-height: 42px;
    letter-spacing: 0em;
    text-align: left;
    font-style: italic;
}
.hero-item-link {
    margin-left: 46px;
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: 300;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
    color: #737373;
}

.hero-title {
    margin-top: 193px;
    width: 676px;
    font-family: Roboto;
    font-size: 50px;
    font-weight: 900;
    line-height: 59px;
    letter-spacing: 0em;
    text-align: left;
    color: black;
    margin-bottom: 21px;
}

.hero-text {
    font-family: Roboto;
    font-size: 24px;
    font-weight: 300;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: black;
    margin-bottom: 31px;
}

.hero-btn {
    background: linear-gradient(95.2deg, #B90160 2.23%, #2E3192 99.51%);
    width: 179px;
    height: 53px;
    border-radius: 7px;
    border: none;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 900;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFF;
}

/* product  */
.product {
    left: -57px;
    background-image: url(../img/product-bg.png);
    background-repeat: no-repeat;
    background-position: calc(50% + 35px) calc(50% - -40px);
}
.product-inner {
    padding-top: 25px;
    padding-bottom: 70px;
}
.product-title {
    margin-left: 100px;
    font-family: Roboto;
font-size: 50px;
font-weight: 400;
line-height: 59px;
letter-spacing: 0em;
text-align: center;
color: black;
margin-bottom: 90px;
}
.product-span {
    color: #B90160;
}
.product-list {
    display: flex;
    align-items: center;
}
.product-item {
    margin-left: 60px;   
    width: 344px;
    height: 414px;
    border-radius: 9px;
    box-shadow: 0px 8px 10px 0px #000001;
}
.product-img {
    border-radius: 9px;
}
.product-card-title {
    margin-top: 15px;
    margin-left: 15px;
    font-family: Roboto;
font-size: 36px;
font-weight: 700;
line-height: 42px;
letter-spacing: 0em;
text-align: left;
color: black;
}
.product-card-text {
    margin-left: 15px;
    margin-top: 15px;
    font-family: Roboto;
font-size: 14px;
font-weight: 300;
line-height: 16px;
letter-spacing: 0em;
text-align: left;
color: #767676;
}
/* review  */
.review {
    background: linear-gradient(94.31deg, rgba(212, 20, 90, 0.25) 0.96%, rgba(46, 49, 146, 0.25) 104.83%);
}
.review-inner {
    padding-top: 66px;
    margin-bottom: 12px;
}
.review-list {
    display: flex;
    align-items: start;
    justify-content: space-between;
}
.review-item {
    box-shadow: 0px 0px 30px 0px #00000040;
    width: 536px;
    height: 187px;
    border-radius: 9px;
    opacity: 40%;
}
.review-item2 {
    box-shadow: 0px 0px 30px 0px #00000040;
    margin-left: 70px;
    margin-right: 70px;
    background-color: #fff;
    width: 536px;
    height: 187px;
    border-radius: 9px;
}
.review-card {
    margin-top: -10%;
    margin-left: 170px;
}
.review-text {
    margin-top: 10px;
    width: 445px;
    height: 60px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 300;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
    color: black;
}
.review-name {
    margin-top: 10px;
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: center;
    color: #8E8E8E;
}
/* footer  */
.footer {
    background-image: url(../img/footer-bg.png);
    background-repeat: no-repeat;
    background-position: calc(50% + 50px) calc(50% - 20px);
}
.footer-inner {
    padding-top: 160px;
    padding-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-box {
    margin-left: 142px;

}
.footer-title {
    max-width: 224px;
    font-family: Roboto;
font-size: 14px;
font-weight: 700;
line-height: 16px;
letter-spacing: 0em;
text-align: left;
color: black;
}
.footer-img {
    margin-top: 17px;
}
.footer-box-title {
    font-family: Roboto;
font-size: 14px;
font-weight: 700;
line-height: 16px;
letter-spacing: 0em;
text-align: left;
color: black;
}
.footer-box-text {
    margin-top: 20px;
    font-family: Roboto;
font-size: 14px;
font-weight: 300;
color: black;
}
.footer-box-text {
    margin-top: 0;
}
.footer-text {
    margin-top: 16px;
    font-family: Roboto;
font-size: 14px;
font-weight: 300;
line-height: 16px;
letter-spacing: 0em;
text-align: left;
color: black;
max-width: 224px;
}
.footer-box-title1 {
    margin-bottom: 20px;
}